.clearfix{
    &:before,
    &:after{
        content: ' ';
        display: table;
    }

    &:after{
        clear: both;
    }
}

.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 28px;
    z-index: 1000;
    transition: all .4s ease;
    background-color: rgba(0,0,0,0.3);


    @media (max-width: $screen-sm-max){
        padding: 0;
        background-color: rgba(0,0,0,0.7);
    }
}

.header-logo{
    float: left;
    margin-top: 10px;
    @include sprite($logo);

    @media (max-width: $screen-sm-max){
        float: none;
        display: block;
    }

    img{
        width: 138px;
        height: 60px;
    }
}

.header-nav{
    float: left;
    margin-left: 184px;

    @media (max-width: $screen-md-max){
        margin-left: 0;
    }

    @media (max-width: $screen-sm-max){
        display: none;
        float: none;
        width: 100%;

        &.show{
            display: block;
        }
    }

    a{
        position: relative;
        float: left;
        display: block;
        width: 90px;
        height: 78px;
        border-bottom: 2px solid transparent;
        color: #fff;
        line-height: 78px;
        text-align: center;

        &:before{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 45px;
            width: 0;
            height: 2px;
            margin: 0 auto;
            background-color: #3db55e;
        }

        &.active:before{
            left: 0;
            width: 90px;
            transition: all 500ms;
        }

        &:hover{
            color: #3db55e;
        }

        @media (max-width: $screen-sm-max){
            float: none;
            width: 100%;
            &:before{
                left: 50%;
            }

            &.active:before{
                width: 100%;
            }
        }
    }
}

.header-menu{
    display: none;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;

    @media (max-width: $screen-sm-max){
        display: block;
    }

    .menu-line{
        display: block;
        width: 100%;
        height: 4px;
        margin-bottom: 4px;
        background-color: #fff;

        &:last-child{
            margin-bottom: 0;
        }
    }
}
