@import './variables.scss';
@import './reset.scss';
@import './sprite.scss';
@import './commen.scss';
@import './section-partner.scss';
@import './section-schedule.scss';
@import './photo-modal.scss';

.wrap--fullpage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1c1b22;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6000;
}

.loading-center {
  text-align: center;
}

.earth-loading {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  color: #fff;
  border: 3px solid;
  border-radius: 35px;
  box-sizing: border-box;
  background: url(/images/earth.png) no-repeat;
  background-origin: border-box;
  animation: bgTranslate 1.8s steps(8) infinite both;
  margin-bottom: 30px;
}

@keyframes bgTranslate {
  to {
    background-position: -560px 0;
  }
}

.loading-text {
  font-size: 20px;
}

.section.active{
    .fade-in-up{
        @media (min-width: $screen-sm-max){
            animation: fadeInUp 1.5s;
        }
    }

    .fade-in-left{
        @media (min-width: $screen-sm-max){
            animation: fadeInLeft 1.5s;
        }
    }

    .fade-in-right{
        @media (min-width: $screen-sm-max){
            animation: fadeInRight 1.5s;
        }
    }
}

#scene-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
}

.section{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // background-color: #000;
}

.section-first{
    position: relative;
    color: #fff;
    text-align: center;

    .first-container{
        margin-top: 240px;
        margin-bottom: 10px;
    }

    .scene {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
    }
    .font_ct {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      @media (max-width: $screen-sm-max) {
        display: none !important;
      }
      span{
        /*border: 1px solid #ccc;*/
        /*text-shadow: 1px 1px 1px #fff;*/
        @media (min-width: $screen-sm-max) {
        animation: fadeInUp 2.0s;
        opacity: 0.4;
      }
      }
      .p_1 {
        position: absolute;
        top: 200px;
        left: 230px;
        font-size: 28px;
        color: #FFFF66;
      }
      .p_2 {
        position: absolute;
        top: 900px;
        left: 930px;
        font-size: 32px;
        color: #009966;
      }
      .p_3 {
        position: absolute;
        top: 100px;
        left: 1230px;
        font-size: 26px;
        color: #CC0066;
      }
      .p_4 {
        position: absolute;
        top: 90px;
        left: 700px;
        font-size: 30px;
        color: #0099CC;
      }
      .p_5 {
        position: absolute;
        top: 500px;
        left: 1650px;
        font-size: 28px;
        color: #FF6600;
      }
      .p_6 {
        position: absolute;
        top: 150px;
        left: 1600px;
        font-size: 36px;
        color: #CC6600;
      }
      .p_7 {
        position: absolute;
        top: 800px;
        left: 1530px;
        font-size: 32px;
        color: #009933;
      }
      .p_8 {
        position: absolute;
        top: 400px;
        left: 300px;
        font-size: 32px;
        color: #FF9900;
      }
      .p_9 {
        position: absolute;
        top: 90px;
        left: 930px;
        font-size: 24px;
      }
      .p_10 {
        position: absolute;
        top: 300px;
        left: 1530px;
        font-size: 28px;
        color: #FFFF99;
      }
      .p_11 {
        position: absolute;
        top: 930px;
        left: 600px;
        font-size: 30px;
        color: #FF6600;
      }
      .p_12 {
        position: absolute;
        top: 500px;
        left: 400px;
        font-size: 36px;
        color: #FF9900;
      }
      .p_13 {
        position: absolute;
        top: 930px;
        left: 1600px;
        font-size: 28px;
         olor: #0099CC;
      }
      .p_14 {
        position: absolute;
        top: 850px;
        left: 300px;
        font-size: 28px;
        color: #CC0066;
      }
      .p_15 {
        position: absolute;
        top: 200px;
        left: 250px;
        font-size: 36px;
        color: #FFFF66;
      }
    }

    .first-title{
        margin-bottom: 100px;
        font-size: 96px;
        font-weight: bold;
        word-spacing: 26px;
    }

    .first-time{
        margin-bottom: 74px;
        font-size: 24px;
        font-weight: bold;

         @media (max-width: $screen-sm-max){
            font-size: 28px;
        }
    }

    .first-block{
        display: inline-block;
        width: 248px;
        height: 69px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        line-height: 69px;
        color: #fff;
        letter-spacing: 0.2em;

        &:hover{
            opacity: .8;
        }
    }

    .first-btn-group{
        text-align: center;
        margin-bottom: 100px;

        a{
            display: inline-block;
            position: relative;
            width: 248px;
            height: 69px;
            z-index: 5000;
        }

        .online-btn{
            @include sprite($btn-xszbp-normal);
            margin-right: 27px;

            &:hover{
                @include sprite($btn-xszbp-hover);
            }
        }

        .bird-btn{
            @include sprite($btn-xxznp-normal);

            &:hover{
                @include sprite($btn-xxznp-hover);
            }
        }

        .offline-btn{
            @include sprite($btn-xxptp-normal);

            &:hover{
                @include sprite($btn-xxptp-hover);
            }
        }
    }

    .first-info{
        font-size: 14px;
        text-align: center;

        .info-price{
            @include sprite($bg-tips);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            padding-top: 6px;
            color: #06D1F8;

            .point{
                margin: 0 20px;
                font-size: 18px;
            }
        }

        .info-right{
            color: #0C9CB8;
            text-align: left;
            width: 420px;
            margin: 0px auto;
            background: rgba(0,0,0,0.1);
            padding: 10px;
            line-height: 20px;
        }
    }
}

.second-block{
    width: 452px;
    height: 628px;
    margin-bottom: 20px;
    box-sizing: border-box;

    &:last-child{
        margin-bottom: 0;
    }

    &.lecture{
        padding: 112px 10px 0 180px;
        background-image: url(#{$cdn}/images/volunteer-bg.png);
        background-position: center center;
        background-size: cover;

        // @media (max-width: $screen-sm-max){
        //     display: block;
        //     width: 100%;
        //     padding: 112px 0 0 0;
        // }

        .block-text strong{
            color: #4de577;
        }

        .triangle{
            @include sprite($green-arrow);
        }

        .block-enter{
            @include sprite($volunteer-enter);
            width: 174px;
        }
    }

    &.sponsor{
        padding: 112px 180px 0 10px;
        background-image: url(#{$cdn}/images/sponsor-bg.png);
        background-position: center center;
        background-size: cover;

        // @media (max-width: $screen-sm-max){
        //     display: block;
        //     width: 100%;
        //     padding: 112px 0 0 0;
        //     text-align: center;
        // }

        .block-text strong{
            color: #dd812f;
        }

        .block-text p{
            padding-left: 70px;
            white-space: nowrap;
            overflow: hidden;
        }

        .triangle{
            @include sprite($orange-arrow);
        }

        .block-enter{
            margin-left: 68px;
            @include sprite($sponsor-enter);
            width: 174px;
        }
    }

    .block-text{
        // @media (max-width: $screen-sm-max){
        //     display: inline-block;
        // }

        h2{
            min-width: 212px;
            padding-bottom: 18px;
            color: #fff;
            font-size: 48px;
            font-weight: bold;
            border-bottom: 3px solid #fff;
        }

        strong{
            margin-left: 12px;
            color: #4de577;
        }

        p{
            font-size: 24px;
            padding: 14px 0;
            color: #fff;
            border-bottom: 1px solid #fff;
        }

        .triangle{
            display: inline-block;
            width: 13px;
            height: 19px;
            margin-left: 12px;
        }
    }

    .block-enter{
        width: 174px;
        height: 67px;
        margin-top: 32px;
        padding-left: 26px;
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        line-height: 67px;

        &:hover{
            opacity: .8;
        }

        @media (max-width: $screen-sm-max){
            display: inline-block;
            text-align: left;
        }
    }
}

/* 关于我们 */
.section-thrid{
    position: relative;

    .thrid-container{
        width: 100%;
        max-width: 1306px;
        margin: 80px auto 0 auto;
    }

    .thrid-text{
        padding: 0 46px;
        color: #fff;

        p{
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 24px;
        }
    }

    .thrid-img{
        margin-top: 60px;
    }

    .img-box{
        float: left;
        width: 25%;
        margin-bottom: 32px;
        padding: 0 46px;
        box-sizing: border-box;

        @media (max-width: $screen-md-max){
            width: 50%;
        }

        @media (max-width: $screen-sm-max){
            width: 100%;
            height: auto;
        }

        img{
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            box-sizing: border-box;
            &:hover{
                box-shadow: rgba(0,0,0,0.25) 0 14px 45px,
                    rgba(0,0,0,0.22) 0 10px 18px;
            }
        }
    }
}

.section-title{
    display: flex;
    margin-bottom: 32px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;

    @media (max-width: $screen-sm-max){
        font-size: 18px;
        justify-content: center;
    }

    .text-title{
        margin: 0 60px;
        @media (max-width: $screen-sm-max){
            margin: 0;
        }
    }

    .letter{
        color: #bebec7;
        font-weight: lighter;
    }

    .line{
        position: relative;
        flex-grow: 1;
        margin-bottom: 24px;
        border-bottom: 1px solid #bebec7;

        @media (max-width: $screen-sm-max){
            display: none;
        }

        &.left:after{
            content: '●';
            position: absolute;
            top: 20px;
            right: -2px;
            font-size: 18px;
        }

        &.right:before{
            content: '●';
            position: absolute;
            top: 20px;
            left: -2px;
            font-size: 18px;
        }
    }
}

/* 讲师页面 */
.section-lecture{

    .lecture-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1344px;
        margin: 80px auto 0 auto;
        padding: 0 30px;
        box-sizing: border-box;

        @media (max-width: $screen-sm-max){
            flex-direction: column;
        }
    }

    .lecture-text{
        max-width: 742px;
        padding: 20px;
        color: #fff;
        font-size: 18px;
        line-height: 36px;

        p{
            margin-bottom: 40px;
        }
        a{
            color:#4de577;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/* 赞助商页面 */
.section-sponsor{

    .sponsor-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        max-width: 1344px;
        margin: 80px auto 0 auto;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .sponsor-text{
        max-width: 742px;
        padding: 20px;
        color: #fff;
        font-size: 18px;
        line-height: 36px;

        p{
            margin-bottom: 50px;
            a{
                color:#dd812f;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

/* 资讯页面 */
.section-information{
    .section-title{
        padding-top: 40px;
        margin-bottom: 0;

        @media (max-width: $screen-sm-max){
            padding-top: 0;
        }
    }

    .information-container{
        width: 100%;
        max-width: 1200px;
        margin: 80px auto 0 auto;

        @media (max-width: $screen-sm-max){
            margin-top: 40px;
        }
    }

    .information-list li{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        border-bottom: 1px solid #8c8c9d;

        &:last-child{
            border-bottom: none;
        }

        @media (max-width: $screen-sm-max){
            flex-direction: column;
            align-items: center;
        }
    }

    .list-img{
        max-width: 276px;
        width: 100%;
        height: 200px;
        border: 2px solid #fff;
        background-position: center;
        background-size: cover;

        img{
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            box-sizing: border-box;
        }
    }

    .list-text{
        max-width: 910px;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;

        h3 a{
            color: #4de577;
            font-size: 26px;
            font-weight: bold;
            line-height: 26px;
            margin-bottom: 12px;
            display: inline-block;
        }

        p{
            margin-bottom: 20px;
            color: #fff;
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.text-caption{
    display: flex;
    justify-content: space-between;
    color: #d2d2f1;
    font-size: 18px;

    .caption-right{
        display: flex;
    }

    .share{
        display:flex;
    }

    .thumb{
        display: flex;
    }

    .share-icon{
        @include sprite($share);
        margin-right: 6px;
    }

    .thumb-icon{
        @include sprite($thumb);
        margin-right: 6px;
    }
}

/* 联系我们 */
.follow{
    position: fixed;
    right: 16px;
    bottom: 46px;


    .follow-list{
        padding-left: 38px;
        margin-bottom: 40px;
    }

    p{
        margin: 0;
        font-size: 12px;
        color: #fff;
    }

    .follow-logo{
        margin: 18px 0;
        padding-left: 16px;

        a{
            display: block;
        }

        .zhi-logo{
            @include sprite($zhi-logo);
        }

        .qq-logo{
            @include sprite($qq-logo);
        }

        .txweib-logo{
            @include sprite($txweib-logo);
        }

        .xlweib-logo{
            @include sprite($xlweib-logo);
        }
    }

    .follow-qr{
        width: 89px;
        height: 89px;

        img{
            width: 100%;
            height: 100%;
        }

        // &:hover{
        //     position: relative;
        //     z-index: 100;
        //     transform: scale(1.2);
        // }
    }
}

#fp-nav ul li a span{
    background-color: #fff;
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translate3d(0,150px,0);
    }

    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translate3d(-150px,0,0);
    }

    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight{
    from{
        opacity: 0;
        transform: translate3d(150px,0,0);
    }

    to{
        opacity: 1;
        transform: none;
    }
}

@import './responsive/index';
