// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$dakashuo-name: 'dakashuo';
$dakashuo-x: 188px;
$dakashuo-y: 0px;
$dakashuo-offset-x: -188px;
$dakashuo-offset-y: 0px;
$dakashuo-width: 213px;
$dakashuo-height: 50px;
$dakashuo-total-width: 506px;
$dakashuo-total-height: 446px;
$dakashuo-image: '../images/partner.png';
$dakashuo: (188px, 0px, -188px, 0px, 213px, 50px, 506px, 446px, '../images/partner.png', 'dakashuo', );
$juejin-name: 'juejin';
$juejin-x: 160px;
$juejin-y: 295px;
$juejin-offset-x: -160px;
$juejin-offset-y: -295px;
$juejin-width: 140px;
$juejin-height: 50px;
$juejin-total-width: 506px;
$juejin-total-height: 446px;
$juejin-image: '../images/partner.png';
$juejin: (160px, 295px, -160px, -295px, 140px, 50px, 506px, 446px, '../images/partner.png', 'juejin', );
$kaiyuan-name: 'kaiyuan';
$kaiyuan-x: 0px;
$kaiyuan-y: 179px;
$kaiyuan-offset-x: 0px;
$kaiyuan-offset-y: -179px;
$kaiyuan-width: 182px;
$kaiyuan-height: 50px;
$kaiyuan-total-width: 506px;
$kaiyuan-total-height: 446px;
$kaiyuan-image: '../images/partner.png';
$kaiyuan: (0px, 179px, 0px, -179px, 182px, 50px, 506px, 446px, '../images/partner.png', 'kaiyuan', );
$ketang-name: 'ketang';
$ketang-x: 190px;
$ketang-y: 179px;
$ketang-offset-x: -190px;
$ketang-offset-y: -179px;
$ketang-width: 180px;
$ketang-height: 50px;
$ketang-total-width: 506px;
$ketang-total-height: 446px;
$ketang-image: '../images/partner.png';
$ketang: (190px, 179px, -190px, -179px, 180px, 50px, 506px, 446px, '../images/partner.png', 'ketang', );
$menggongchang-name: 'menggongchang';
$menggongchang-x: 0px;
$menggongchang-y: 295px;
$menggongchang-offset-x: 0px;
$menggongchang-offset-y: -295px;
$menggongchang-width: 152px;
$menggongchang-height: 50px;
$menggongchang-total-width: 506px;
$menggongchang-total-height: 446px;
$menggongchang-image: '../images/partner.png';
$menggongchang: (0px, 295px, 0px, -295px, 152px, 50px, 506px, 446px, '../images/partner.png', 'menggongchang', );
$offer-name: 'offer';
$offer-x: 0px;
$offer-y: 353px;
$offer-offset-x: 0px;
$offer-offset-y: -353px;
$offer-width: 180px;
$offer-height: 35px;
$offer-total-width: 506px;
$offer-total-height: 446px;
$offer-image: '../images/partner.png';
$offer: (0px, 353px, 0px, -353px, 180px, 35px, 506px, 446px, '../images/partner.png', 'offer', );
$segmentfault-name: 'segmentfault';
$segmentfault-x: 0px;
$segmentfault-y: 237px;
$segmentfault-offset-x: 0px;
$segmentfault-offset-y: -237px;
$segmentfault-width: 176px;
$segmentfault-height: 50px;
$segmentfault-total-width: 506px;
$segmentfault-total-height: 446px;
$segmentfault-image: '../images/partner.png';
$segmentfault: (0px, 237px, 0px, -237px, 176px, 50px, 506px, 446px, '../images/partner.png', 'segmentfault', );
$tuling-name: 'tuling';
$tuling-x: 188px;
$tuling-y: 58px;
$tuling-offset-x: -188px;
$tuling-offset-y: -58px;
$tuling-width: 128px;
$tuling-height: 80px;
$tuling-total-width: 506px;
$tuling-total-height: 446px;
$tuling-image: '../images/partner.png';
$tuling: (188px, 58px, -188px, -58px, 128px, 80px, 506px, 446px, '../images/partner.png', 'tuling', );
$w3cplus-name: 'w3cplus';
$w3cplus-x: 0px;
$w3cplus-y: 83px;
$w3cplus-offset-x: 0px;
$w3cplus-offset-y: -83px;
$w3cplus-width: 150px;
$w3cplus-height: 88px;
$w3cplus-total-width: 506px;
$w3cplus-total-height: 446px;
$w3cplus-image: '../images/partner.png';
$w3cplus: (0px, 83px, 0px, -83px, 150px, 88px, 506px, 446px, '../images/partner.png', 'w3cplus', );
$w3cschool-name: 'w3cschool';
$w3cschool-x: 184px;
$w3cschool-y: 237px;
$w3cschool-offset-x: -184px;
$w3cschool-offset-y: -237px;
$w3cschool-width: 180px;
$w3cschool-height: 45px;
$w3cschool-total-width: 506px;
$w3cschool-total-height: 446px;
$w3cschool-image: '../images/partner.png';
$w3cschool: (184px, 237px, -184px, -237px, 180px, 45px, 506px, 446px, '../images/partner.png', 'w3cschool', );
$wex5-name: 'wex5';
$wex5-x: 0px;
$wex5-y: 396px;
$wex5-offset-x: 0px;
$wex5-offset-y: -396px;
$wex5-width: 99px;
$wex5-height: 50px;
$wex5-total-width: 506px;
$wex5-total-height: 446px;
$wex5-image: '../images/partner.png';
$wex5: (0px, 396px, 0px, -396px, 99px, 50px, 506px, 446px, '../images/partner.png', 'wex5', );
$xuanyuan-name: 'xuanyuan';
$xuanyuan-x: 0px;
$xuanyuan-y: 0px;
$xuanyuan-offset-x: 0px;
$xuanyuan-offset-y: 0px;
$xuanyuan-width: 180px;
$xuanyuan-height: 75px;
$xuanyuan-total-width: 506px;
$xuanyuan-total-height: 446px;
$xuanyuan-image: '../images/partner.png';
$xuanyuan: (0px, 0px, 0px, 0px, 180px, 75px, 506px, 446px, '../images/partner.png', 'xuanyuan', );
$zaoduke-name: 'zaoduke';
$zaoduke-x: 409px;
$zaoduke-y: 0px;
$zaoduke-offset-x: -409px;
$zaoduke-offset-y: 0px;
$zaoduke-width: 97px;
$zaoduke-height: 80px;
$zaoduke-total-width: 506px;
$zaoduke-total-height: 446px;
$zaoduke-image: '../images/partner.png';
$zaoduke: (409px, 0px, -409px, 0px, 97px, 80px, 506px, 446px, '../images/partner.png', 'zaoduke', );
$spritesheet-width: 506px;
$spritesheet-height: 446px;
$spritesheet-image: '../images/partner.png';
$spritesheet-sprites: ($dakashuo, $juejin, $kaiyuan, $ketang, $menggongchang, $offer, $segmentfault, $tuling, $w3cplus, $w3cschool, $wex5, $xuanyuan, $zaoduke, );
$spritesheet: (506px, 446px, '../images/partner.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
