// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$juejin-name: 'juejin';
$juejin-x: 184px;
$juejin-y: 154px;
$juejin-offset-x: -184px;
$juejin-offset-y: -154px;
$juejin-width: 140px;
$juejin-height: 50px;
$juejin-total-width: 445px;
$juejin-total-height: 358px;
$juejin-image: '../images/partner.png';
$juejin: (184px, 154px, -184px, -154px, 140px, 50px, 445px, 358px, '../images/partner.png', 'juejin', );
$kaiyuan-name: 'kaiyuan';
$kaiyuan-x: 158px;
$kaiyuan-y: 0px;
$kaiyuan-offset-x: -158px;
$kaiyuan-offset-y: 0px;
$kaiyuan-width: 182px;
$kaiyuan-height: 50px;
$kaiyuan-total-width: 445px;
$kaiyuan-total-height: 358px;
$kaiyuan-image: '../images/partner.png';
$kaiyuan: (158px, 0px, -158px, 0px, 182px, 50px, 445px, 358px, '../images/partner.png', 'kaiyuan', );
$ketang-name: 'ketang';
$ketang-x: 0px;
$ketang-y: 96px;
$ketang-offset-x: 0px;
$ketang-offset-y: -96px;
$ketang-width: 180px;
$ketang-height: 50px;
$ketang-total-width: 445px;
$ketang-total-height: 358px;
$ketang-image: '../images/partner.png';
$ketang: (0px, 96px, 0px, -96px, 180px, 50px, 445px, 358px, '../images/partner.png', 'ketang', );
$menggongchang-name: 'menggongchang';
$menggongchang-x: 188px;
$menggongchang-y: 96px;
$menggongchang-offset-x: -188px;
$menggongchang-offset-y: -96px;
$menggongchang-width: 152px;
$menggongchang-height: 50px;
$menggongchang-total-width: 445px;
$menggongchang-total-height: 358px;
$menggongchang-image: '../images/partner.png';
$menggongchang: (188px, 96px, -188px, -96px, 152px, 50px, 445px, 358px, '../images/partner.png', 'menggongchang', );
$offer-name: 'offer';
$offer-x: 0px;
$offer-y: 265px;
$offer-offset-x: 0px;
$offer-offset-y: -265px;
$offer-width: 180px;
$offer-height: 35px;
$offer-total-width: 445px;
$offer-total-height: 358px;
$offer-image: '../images/partner.png';
$offer: (0px, 265px, 0px, -265px, 180px, 35px, 445px, 358px, '../images/partner.png', 'offer', );
$segmentfault-name: 'segmentfault';
$segmentfault-x: 0px;
$segmentfault-y: 154px;
$segmentfault-offset-x: 0px;
$segmentfault-offset-y: -154px;
$segmentfault-width: 176px;
$segmentfault-height: 50px;
$segmentfault-total-width: 445px;
$segmentfault-total-height: 358px;
$segmentfault-image: '../images/partner.png';
$segmentfault: (0px, 154px, 0px, -154px, 176px, 50px, 445px, 358px, '../images/partner.png', 'segmentfault', );
$w3cplus-name: 'w3cplus';
$w3cplus-x: 0px;
$w3cplus-y: 0px;
$w3cplus-offset-x: 0px;
$w3cplus-offset-y: 0px;
$w3cplus-width: 150px;
$w3cplus-height: 88px;
$w3cplus-total-width: 445px;
$w3cplus-total-height: 358px;
$w3cplus-image: '../images/partner.png';
$w3cplus: (0px, 0px, 0px, 0px, 150px, 88px, 445px, 358px, '../images/partner.png', 'w3cplus', );
$w3cschool-name: 'w3cschool';
$w3cschool-x: 0px;
$w3cschool-y: 212px;
$w3cschool-offset-x: 0px;
$w3cschool-offset-y: -212px;
$w3cschool-width: 180px;
$w3cschool-height: 45px;
$w3cschool-total-width: 445px;
$w3cschool-total-height: 358px;
$w3cschool-image: '../images/partner.png';
$w3cschool: (0px, 212px, 0px, -212px, 180px, 45px, 445px, 358px, '../images/partner.png', 'w3cschool', );
$wex5-name: 'wex5';
$wex5-x: 0px;
$wex5-y: 308px;
$wex5-offset-x: 0px;
$wex5-offset-y: -308px;
$wex5-width: 99px;
$wex5-height: 50px;
$wex5-total-width: 445px;
$wex5-total-height: 358px;
$wex5-image: '../images/partner.png';
$wex5: (0px, 308px, 0px, -308px, 99px, 50px, 445px, 358px, '../images/partner.png', 'wex5', );
$zaoduke-name: 'zaoduke';
$zaoduke-x: 348px;
$zaoduke-y: 0px;
$zaoduke-offset-x: -348px;
$zaoduke-offset-y: 0px;
$zaoduke-width: 97px;
$zaoduke-height: 80px;
$zaoduke-total-width: 445px;
$zaoduke-total-height: 358px;
$zaoduke-image: '../images/partner.png';
$zaoduke: (348px, 0px, -348px, 0px, 97px, 80px, 445px, 358px, '../images/partner.png', 'zaoduke', );
$spritesheet-width: 445px;
$spritesheet-height: 358px;
$spritesheet-image: '../images/partner.png';
$spritesheet-sprites: ($juejin, $kaiyuan, $ketang, $menggongchang, $offer, $segmentfault, $w3cplus, $w3cschool, $wex5, $zaoduke, );
$spritesheet: (445px, 358px, '../images/partner.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
