body{
    font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}