@import './partner.scss';

.section-partner{

    .partner-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partner-title{
        max-width: 1260px;
        width: 100%;
        height: 70px;
        margin-top: 120px;
        margin-bottom: 40px;
        line-height: 70px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        background-image: url(/images/partner-title.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;

        @media (max-width: $screen-sm-max){
            margin-top: 0;
            margin-bottom: 0;
            font-size: 18px;
            background-image: none;
        }

        .point{
            margin: 0 18px;
            font-size: 14px;
            vertical-align: middle;

            @media (max-width: $screen-sm-max){
                margin: 0 9px;
            }
        }
    }
}

.partner-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px;   //为整体加上一个外边距
    box-sizing: border-box;

    @media (max-width:  $screen-sm-max){
        flex-direction: column;
        margin-bottom: 0;
    }

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 25%;
        margin-bottom: 20px;
        height: 120px;
        box-sizing: border-box;

        @media (max-width: $screen-sm-max){
            height: 90px;
        }
    }

    i{
        display: block;

        &.ketang{
            @include sprite($ketang);
        }

         &.menggongchang{
            @include sprite($menggongchang);
        }

         &.kaiyuan{
            @include sprite($kaiyuan);
        }

        &.segmentfault{
            @include sprite($segmentfault);
        }

        &.w3cplus{
            @include sprite($w3cplus);
        }

        &.zaoduke{
            @include sprite($zaoduke);
        }

        &.juejin{
            @include sprite($juejin);
        }
    }
    
}

.partner-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cbcbcb;   
    margin-bottom: 30px;
}

.footer{
    &-qr{
        display: none;

        @media (max-width: $screen-sm-max){
            display: block;
            margin-bottom: 50px;
            
            img{
                width: 160px;
            }
        }
    }

    &-title{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 32px;

        @media (max-width: $screen-sm-max){
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &-content{
        display: flex;
        font-size: 18px;
        font-style: italic;

        @media (max-width:  $screen-sm-max){
            font-size: 14px;
        }

        ul{
            display: flex;
            margin-bottom: 10px;

            li{
                margin-right: 46px;

                @media (max-width:  $screen-sm-max){
                    margin-right: 7px;
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    &-copyright{
        font-size: 14px;
        margin-top: 20px;

        @media (max-width: $screen-sm-max){
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}