// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$clock-name: 'clock';
$clock-x: 396px;
$clock-y: 72px;
$clock-offset-x: -396px;
$clock-offset-y: -72px;
$clock-width: 29px;
$clock-height: 29px;
$clock-total-width: 453px;
$clock-total-height: 309px;
$clock-image: '../images/sprite.png';
$clock: (396px, 72px, -396px, -72px, 29px, 29px, 453px, 309px, '../images/sprite.png', 'clock', );
$enter-block-name: 'enter-block';
$enter-block-x: 0px;
$enter-block-y: 74px;
$enter-block-offset-x: 0px;
$enter-block-offset-y: -74px;
$enter-block-width: 248px;
$enter-block-height: 69px;
$enter-block-total-width: 453px;
$enter-block-total-height: 309px;
$enter-block-image: '../images/sprite.png';
$enter-block: (0px, 74px, 0px, -74px, 248px, 69px, 453px, 309px, '../images/sprite.png', 'enter-block', );
$green-arrow-name: 'green-arrow';
$green-arrow-x: 318px;
$green-arrow-y: 137px;
$green-arrow-offset-x: -318px;
$green-arrow-offset-y: -137px;
$green-arrow-width: 13px;
$green-arrow-height: 19px;
$green-arrow-total-width: 453px;
$green-arrow-total-height: 309px;
$green-arrow-image: '../images/sprite.png';
$green-arrow: (318px, 137px, -318px, -137px, 13px, 19px, 453px, 309px, '../images/sprite.png', 'green-arrow', );
$logo-name: 'logo';
$logo-x: 253px;
$logo-y: 72px;
$logo-offset-x: -253px;
$logo-offset-y: -72px;
$logo-width: 138px;
$logo-height: 60px;
$logo-total-width: 453px;
$logo-total-height: 309px;
$logo-image: '../images/sprite.png';
$logo: (253px, 72px, -253px, -72px, 138px, 60px, 453px, 309px, '../images/sprite.png', 'logo', );
$orange-arrow-name: 'orange-arrow';
$orange-arrow-x: 300px;
$orange-arrow-y: 137px;
$orange-arrow-offset-x: -300px;
$orange-arrow-offset-y: -137px;
$orange-arrow-width: 13px;
$orange-arrow-height: 19px;
$orange-arrow-total-width: 453px;
$orange-arrow-total-height: 309px;
$orange-arrow-image: '../images/sprite.png';
$orange-arrow: (300px, 137px, -300px, -137px, 13px, 19px, 453px, 309px, '../images/sprite.png', 'orange-arrow', );
$qq-logo-name: 'qq-logo';
$qq-logo-x: 277px;
$qq-logo-y: 137px;
$qq-logo-offset-x: -277px;
$qq-logo-offset-y: -137px;
$qq-logo-width: 18px;
$qq-logo-height: 19px;
$qq-logo-total-width: 453px;
$qq-logo-total-height: 309px;
$qq-logo-image: '../images/sprite.png';
$qq-logo: (277px, 137px, -277px, -137px, 18px, 19px, 453px, 309px, '../images/sprite.png', 'qq-logo', );
$qr-name: 'qr';
$qr-x: 0px;
$qr-y: 220px;
$qr-offset-x: 0px;
$qr-offset-y: -220px;
$qr-width: 89px;
$qr-height: 89px;
$qr-total-width: 453px;
$qr-total-height: 309px;
$qr-image: '../images/sprite.png';
$qr: (0px, 220px, 0px, -220px, 89px, 89px, 453px, 309px, '../images/sprite.png', 'qr', );
$sellout-block-name: 'sellout-block';
$sellout-block-x: 0px;
$sellout-block-y: 0px;
$sellout-block-offset-x: 0px;
$sellout-block-offset-y: 0px;
$sellout-block-width: 248px;
$sellout-block-height: 69px;
$sellout-block-total-width: 453px;
$sellout-block-total-height: 309px;
$sellout-block-image: '../images/sprite.png';
$sellout-block: (0px, 0px, 0px, 0px, 248px, 69px, 453px, 309px, '../images/sprite.png', 'sellout-block', );
$share-name: 'share';
$share-x: 396px;
$share-y: 106px;
$share-offset-x: -396px;
$share-offset-y: -106px;
$share-width: 19px;
$share-height: 22px;
$share-total-width: 453px;
$share-total-height: 309px;
$share-image: '../images/sprite.png';
$share: (396px, 106px, -396px, -106px, 19px, 22px, 453px, 309px, '../images/sprite.png', 'share', );
$sponsor-enter-name: 'sponsor-enter';
$sponsor-enter-x: 253px;
$sponsor-enter-y: 0px;
$sponsor-enter-offset-x: -253px;
$sponsor-enter-offset-y: 0px;
$sponsor-enter-width: 200px;
$sponsor-enter-height: 67px;
$sponsor-enter-total-width: 453px;
$sponsor-enter-total-height: 309px;
$sponsor-enter-image: '../images/sprite.png';
$sponsor-enter: (253px, 0px, -253px, 0px, 200px, 67px, 453px, 309px, '../images/sprite.png', 'sponsor-enter', );
$thumb-name: 'thumb';
$thumb-x: 430px;
$thumb-y: 72px;
$thumb-offset-x: -430px;
$thumb-offset-y: -72px;
$thumb-width: 21px;
$thumb-height: 21px;
$thumb-total-width: 453px;
$thumb-total-height: 309px;
$thumb-image: '../images/sprite.png';
$thumb: (430px, 72px, -430px, -72px, 21px, 21px, 453px, 309px, '../images/sprite.png', 'thumb', );
$txweib-logo-name: 'txweib-logo';
$txweib-logo-x: 253px;
$txweib-logo-y: 137px;
$txweib-logo-offset-x: -253px;
$txweib-logo-offset-y: -137px;
$txweib-logo-width: 19px;
$txweib-logo-height: 19px;
$txweib-logo-total-width: 453px;
$txweib-logo-total-height: 309px;
$txweib-logo-image: '../images/sprite.png';
$txweib-logo: (253px, 137px, -253px, -137px, 19px, 19px, 453px, 309px, '../images/sprite.png', 'txweib-logo', );
$volunteer-enter-name: 'volunteer-enter';
$volunteer-enter-x: 0px;
$volunteer-enter-y: 148px;
$volunteer-enter-offset-x: 0px;
$volunteer-enter-offset-y: -148px;
$volunteer-enter-width: 200px;
$volunteer-enter-height: 67px;
$volunteer-enter-total-width: 453px;
$volunteer-enter-total-height: 309px;
$volunteer-enter-image: '../images/sprite.png';
$volunteer-enter: (0px, 148px, 0px, -148px, 200px, 67px, 453px, 309px, '../images/sprite.png', 'volunteer-enter', );
$xlweib-logo-name: 'xlweib-logo';
$xlweib-logo-x: 420px;
$xlweib-logo-y: 106px;
$xlweib-logo-offset-x: -420px;
$xlweib-logo-offset-y: -106px;
$xlweib-logo-width: 22px;
$xlweib-logo-height: 19px;
$xlweib-logo-total-width: 453px;
$xlweib-logo-total-height: 309px;
$xlweib-logo-image: '../images/sprite.png';
$xlweib-logo: (420px, 106px, -420px, -106px, 22px, 19px, 453px, 309px, '../images/sprite.png', 'xlweib-logo', );
$spritesheet-width: 453px;
$spritesheet-height: 309px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($clock, $enter-block, $green-arrow, $logo, $orange-arrow, $qq-logo, $qr, $sellout-block, $share, $sponsor-enter, $thumb, $txweib-logo, $volunteer-enter, $xlweib-logo, );
$spritesheet: (453px, 309px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
