// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-tips-name: 'bg_tips';
$bg-tips-x: 0px;
$bg-tips-y: 0px;
$bg-tips-offset-x: 0px;
$bg-tips-offset-y: 0px;
$bg-tips-width: 1059px;
$bg-tips-height: 30px;
$bg-tips-total-width: 1059px;
$bg-tips-total-height: 433px;
$bg-tips-image: '../images/sprite.png';
$bg-tips: (0px, 0px, 0px, 0px, 1059px, 30px, 1059px, 433px, '../images/sprite.png', 'bg_tips', );
$btn-xszbp-hover-name: 'btn_xszbp_hover';
$btn-xszbp-hover-x: 512px;
$btn-xszbp-hover-y: 192px;
$btn-xszbp-hover-offset-x: -512px;
$btn-xszbp-hover-offset-y: -192px;
$btn-xszbp-hover-width: 248px;
$btn-xszbp-hover-height: 69px;
$btn-xszbp-hover-total-width: 1059px;
$btn-xszbp-hover-total-height: 433px;
$btn-xszbp-hover-image: '../images/sprite.png';
$btn-xszbp-hover: (512px, 192px, -512px, -192px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'btn_xszbp_hover', );
$btn-xszbp-normal-name: 'btn_xszbp_normal';
$btn-xszbp-normal-x: 256px;
$btn-xszbp-normal-y: 192px;
$btn-xszbp-normal-offset-x: -256px;
$btn-xszbp-normal-offset-y: -192px;
$btn-xszbp-normal-width: 248px;
$btn-xszbp-normal-height: 69px;
$btn-xszbp-normal-total-width: 1059px;
$btn-xszbp-normal-total-height: 433px;
$btn-xszbp-normal-image: '../images/sprite.png';
$btn-xszbp-normal: (256px, 192px, -256px, -192px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'btn_xszbp_normal', );
$btn-xxptp-hover-name: 'btn_xxptp_hover';
$btn-xxptp-hover-x: 256px;
$btn-xxptp-hover-y: 38px;
$btn-xxptp-hover-offset-x: -256px;
$btn-xxptp-hover-offset-y: -38px;
$btn-xxptp-hover-width: 248px;
$btn-xxptp-hover-height: 69px;
$btn-xxptp-hover-total-width: 1059px;
$btn-xxptp-hover-total-height: 433px;
$btn-xxptp-hover-image: '../images/sprite.png';
$btn-xxptp-hover: (256px, 38px, -256px, -38px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'btn_xxptp_hover', );
$btn-xxptp-normal-name: 'btn_xxptp_normal';
$btn-xxptp-normal-x: 512px;
$btn-xxptp-normal-y: 38px;
$btn-xxptp-normal-offset-x: -512px;
$btn-xxptp-normal-offset-y: -38px;
$btn-xxptp-normal-width: 248px;
$btn-xxptp-normal-height: 69px;
$btn-xxptp-normal-total-width: 1059px;
$btn-xxptp-normal-total-height: 433px;
$btn-xxptp-normal-image: '../images/sprite.png';
$btn-xxptp-normal: (512px, 38px, -512px, -38px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'btn_xxptp_normal', );
$btn-xxznp-hover-name: 'btn_xxznp_hover';
$btn-xxznp-hover-x: 768px;
$btn-xxznp-hover-y: 38px;
$btn-xxznp-hover-offset-x: -768px;
$btn-xxznp-hover-offset-y: -38px;
$btn-xxznp-hover-width: 248px;
$btn-xxznp-hover-height: 69px;
$btn-xxznp-hover-total-width: 1059px;
$btn-xxznp-hover-total-height: 433px;
$btn-xxznp-hover-image: '../images/sprite.png';
$btn-xxznp-hover: (768px, 38px, -768px, -38px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'btn_xxznp_hover', );
$btn-xxznp-normal-name: 'btn_xxznp_normal';
$btn-xxznp-normal-x: 0px;
$btn-xxznp-normal-y: 115px;
$btn-xxznp-normal-offset-x: 0px;
$btn-xxznp-normal-offset-y: -115px;
$btn-xxznp-normal-width: 248px;
$btn-xxznp-normal-height: 69px;
$btn-xxznp-normal-total-width: 1059px;
$btn-xxznp-normal-total-height: 433px;
$btn-xxznp-normal-image: '../images/sprite.png';
$btn-xxznp-normal: (0px, 115px, 0px, -115px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'btn_xxznp_normal', );
$clock-name: 'clock';
$clock-x: 1024px;
$clock-y: 38px;
$clock-offset-x: -1024px;
$clock-offset-y: -38px;
$clock-width: 29px;
$clock-height: 29px;
$clock-total-width: 1059px;
$clock-total-height: 433px;
$clock-image: '../images/sprite.png';
$clock: (1024px, 38px, -1024px, -38px, 29px, 29px, 1059px, 433px, '../images/sprite.png', 'clock', );
$enter-block-name: 'enter-block';
$enter-block-x: 512px;
$enter-block-y: 115px;
$enter-block-offset-x: -512px;
$enter-block-offset-y: -115px;
$enter-block-width: 248px;
$enter-block-height: 69px;
$enter-block-total-width: 1059px;
$enter-block-total-height: 433px;
$enter-block-image: '../images/sprite.png';
$enter-block: (512px, 115px, -512px, -115px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'enter-block', );
$green-arrow-name: 'green-arrow';
$green-arrow-x: 997px;
$green-arrow-y: 219px;
$green-arrow-offset-x: -997px;
$green-arrow-offset-y: -219px;
$green-arrow-width: 13px;
$green-arrow-height: 19px;
$green-arrow-total-width: 1059px;
$green-arrow-total-height: 433px;
$green-arrow-image: '../images/sprite.png';
$green-arrow: (997px, 219px, -997px, -219px, 13px, 19px, 1059px, 433px, '../images/sprite.png', 'green-arrow', );
$logo-name: 'logo';
$logo-x: 208px;
$logo-y: 269px;
$logo-offset-x: -208px;
$logo-offset-y: -269px;
$logo-width: 138px;
$logo-height: 60px;
$logo-total-width: 1059px;
$logo-total-height: 433px;
$logo-image: '../images/sprite.png';
$logo: (208px, 269px, -208px, -269px, 138px, 60px, 1059px, 433px, '../images/sprite.png', 'logo', );
$orange-arrow-name: 'orange-arrow';
$orange-arrow-x: 976px;
$orange-arrow-y: 219px;
$orange-arrow-offset-x: -976px;
$orange-arrow-offset-y: -219px;
$orange-arrow-width: 13px;
$orange-arrow-height: 19px;
$orange-arrow-total-width: 1059px;
$orange-arrow-total-height: 433px;
$orange-arrow-image: '../images/sprite.png';
$orange-arrow: (976px, 219px, -976px, -219px, 13px, 19px, 1059px, 433px, '../images/sprite.png', 'orange-arrow', );
$qq-logo-name: 'qq-logo';
$qq-logo-x: 1030px;
$qq-logo-y: 192px;
$qq-logo-offset-x: -1030px;
$qq-logo-offset-y: -192px;
$qq-logo-width: 18px;
$qq-logo-height: 19px;
$qq-logo-total-width: 1059px;
$qq-logo-total-height: 433px;
$qq-logo-image: '../images/sprite.png';
$qq-logo: (1030px, 192px, -1030px, -192px, 18px, 19px, 1059px, 433px, '../images/sprite.png', 'qq-logo', );
$qr-name: 'qr';
$qr-x: 0px;
$qr-y: 344px;
$qr-offset-x: 0px;
$qr-offset-y: -344px;
$qr-width: 89px;
$qr-height: 89px;
$qr-total-width: 1059px;
$qr-total-height: 433px;
$qr-image: '../images/sprite.png';
$qr: (0px, 344px, 0px, -344px, 89px, 89px, 1059px, 433px, '../images/sprite.png', 'qr', );
$sellout-block-name: 'sellout-block';
$sellout-block-x: 0px;
$sellout-block-y: 192px;
$sellout-block-offset-x: 0px;
$sellout-block-offset-y: -192px;
$sellout-block-width: 248px;
$sellout-block-height: 69px;
$sellout-block-total-width: 1059px;
$sellout-block-total-height: 433px;
$sellout-block-image: '../images/sprite.png';
$sellout-block: (0px, 192px, 0px, -192px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'sellout-block', );
$share-name: 'share';
$share-x: 1024px;
$share-y: 115px;
$share-offset-x: -1024px;
$share-offset-y: -115px;
$share-width: 19px;
$share-height: 22px;
$share-total-width: 1059px;
$share-total-height: 433px;
$share-image: '../images/sprite.png';
$share: (1024px, 115px, -1024px, -115px, 19px, 22px, 1059px, 433px, '../images/sprite.png', 'share', );
$sponsor-enter-name: 'sponsor-enter';
$sponsor-enter-x: 768px;
$sponsor-enter-y: 192px;
$sponsor-enter-offset-x: -768px;
$sponsor-enter-offset-y: -192px;
$sponsor-enter-width: 200px;
$sponsor-enter-height: 67px;
$sponsor-enter-total-width: 1059px;
$sponsor-enter-total-height: 433px;
$sponsor-enter-image: '../images/sprite.png';
$sponsor-enter: (768px, 192px, -768px, -192px, 200px, 67px, 1059px, 433px, '../images/sprite.png', 'sponsor-enter', );
$thumb-name: 'thumb';
$thumb-x: 1024px;
$thumb-y: 75px;
$thumb-offset-x: -1024px;
$thumb-offset-y: -75px;
$thumb-width: 21px;
$thumb-height: 21px;
$thumb-total-width: 1059px;
$thumb-total-height: 433px;
$thumb-image: '../images/sprite.png';
$thumb: (1024px, 75px, -1024px, -75px, 21px, 21px, 1059px, 433px, '../images/sprite.png', 'thumb', );
$ticket-btn-disabled-name: 'ticket-btn-disabled';
$ticket-btn-disabled-x: 768px;
$ticket-btn-disabled-y: 115px;
$ticket-btn-disabled-offset-x: -768px;
$ticket-btn-disabled-offset-y: -115px;
$ticket-btn-disabled-width: 248px;
$ticket-btn-disabled-height: 69px;
$ticket-btn-disabled-total-width: 1059px;
$ticket-btn-disabled-total-height: 433px;
$ticket-btn-disabled-image: '../images/sprite.png';
$ticket-btn-disabled: (768px, 115px, -768px, -115px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'ticket-btn-disabled', );
$ticket-btn-hover-name: 'ticket-btn-hover';
$ticket-btn-hover-x: 256px;
$ticket-btn-hover-y: 115px;
$ticket-btn-hover-offset-x: -256px;
$ticket-btn-hover-offset-y: -115px;
$ticket-btn-hover-width: 248px;
$ticket-btn-hover-height: 69px;
$ticket-btn-hover-total-width: 1059px;
$ticket-btn-hover-total-height: 433px;
$ticket-btn-hover-image: '../images/sprite.png';
$ticket-btn-hover: (256px, 115px, -256px, -115px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'ticket-btn-hover', );
$ticket-btn-name: 'ticket-btn';
$ticket-btn-x: 0px;
$ticket-btn-y: 38px;
$ticket-btn-offset-x: 0px;
$ticket-btn-offset-y: -38px;
$ticket-btn-width: 248px;
$ticket-btn-height: 69px;
$ticket-btn-total-width: 1059px;
$ticket-btn-total-height: 433px;
$ticket-btn-image: '../images/sprite.png';
$ticket-btn: (0px, 38px, 0px, -38px, 248px, 69px, 1059px, 433px, '../images/sprite.png', 'ticket-btn', );
$txweib-logo-name: 'txweib-logo';
$txweib-logo-x: 1003px;
$txweib-logo-y: 192px;
$txweib-logo-offset-x: -1003px;
$txweib-logo-offset-y: -192px;
$txweib-logo-width: 19px;
$txweib-logo-height: 19px;
$txweib-logo-total-width: 1059px;
$txweib-logo-total-height: 433px;
$txweib-logo-image: '../images/sprite.png';
$txweib-logo: (1003px, 192px, -1003px, -192px, 19px, 19px, 1059px, 433px, '../images/sprite.png', 'txweib-logo', );
$volunteer-enter-name: 'volunteer-enter';
$volunteer-enter-x: 0px;
$volunteer-enter-y: 269px;
$volunteer-enter-offset-x: 0px;
$volunteer-enter-offset-y: -269px;
$volunteer-enter-width: 200px;
$volunteer-enter-height: 67px;
$volunteer-enter-total-width: 1059px;
$volunteer-enter-total-height: 433px;
$volunteer-enter-image: '../images/sprite.png';
$volunteer-enter: (0px, 269px, 0px, -269px, 200px, 67px, 1059px, 433px, '../images/sprite.png', 'volunteer-enter', );
$xlweib-logo-name: 'xlweib-logo';
$xlweib-logo-x: 1024px;
$xlweib-logo-y: 145px;
$xlweib-logo-offset-x: -1024px;
$xlweib-logo-offset-y: -145px;
$xlweib-logo-width: 22px;
$xlweib-logo-height: 19px;
$xlweib-logo-total-width: 1059px;
$xlweib-logo-total-height: 433px;
$xlweib-logo-image: '../images/sprite.png';
$xlweib-logo: (1024px, 145px, -1024px, -145px, 22px, 19px, 1059px, 433px, '../images/sprite.png', 'xlweib-logo', );
$zhi-logo-name: 'zhi-logo';
$zhi-logo-x: 976px;
$zhi-logo-y: 192px;
$zhi-logo-offset-x: -976px;
$zhi-logo-offset-y: -192px;
$zhi-logo-width: 19px;
$zhi-logo-height: 19px;
$zhi-logo-total-width: 1059px;
$zhi-logo-total-height: 433px;
$zhi-logo-image: '../images/sprite.png';
$zhi-logo: (976px, 192px, -976px, -192px, 19px, 19px, 1059px, 433px, '../images/sprite.png', 'zhi-logo', );
$spritesheet-width: 1059px;
$spritesheet-height: 433px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($bg-tips, $btn-xszbp-hover, $btn-xszbp-normal, $btn-xxptp-hover, $btn-xxptp-normal, $btn-xxznp-hover, $btn-xxznp-normal, $clock, $enter-block, $green-arrow, $logo, $orange-arrow, $qq-logo, $qr, $sellout-block, $share, $sponsor-enter, $thumb, $ticket-btn-disabled, $ticket-btn-hover, $ticket-btn, $txweib-logo, $volunteer-enter, $xlweib-logo, $zhi-logo, );
$spritesheet: (1059px, 433px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
