@charset "utf-8";
@media (max-width: $screen-sm-max) {
  .section-thrid {
    .thrid-text {
      padding: 0 30px;
      h2 {
        font-size: 18px;
        text-align: center;
      }
      p {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
}
