@charset "utf-8";

@media (max-width: $screen-sm-max) {
  .section-sponsor {
    .sponsor {
      width: 100%;
      height: auto;
      padding: 0;
      background-image: none;

      &-container {
        position: relative;
        width: auto;
        margin: 0;
        padding: 30px;
        display: block;
      }

      &-text {
        font-size: 14px;
        line-height: 180%;
        color: #fff;
        padding: 0;

        p {
          text-indent: 2em;
          margin-bottom: 20px;
        }
      }

      .block-text {
        h2 {
          color: #fff;
          font-size: 18px;
          margin-bottom: 10px;
          padding-bottom: 0;
          border-bottom: none;
        }

        p {
          font-size: 18px;
          padding: 0;
          padding-bottom: 10px;
        }
      }

      .block-enter {
        margin: 0;
        padding: 0;
        font-size: 18px;
        width: auto;
        height: auto;
        line-height: 1;
        position: absolute;
        top: 30px;
        right: 30px;
        background: none;
        color:#dd812f;

      }

      .triangle {
        vertical-align: middle;
      }
    }
  }
}
